# create by gholk 2017-09-19
# manage quiz chatbot by systemctl
# include `quiz-chatbot-discord.service`
# `quiz-chatbot-server`

[Unit]
Description=Quiz chatbot collection
Requires=multi-user.target network.target
After=network.target multi-user.target